apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bedrock-worlds
  namespace: minecraft
  labels:
    app: bedrock-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
